* {
  margin: 0;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
  font-family: 'Times New Roman', Times, serif;
}
.App {
  text-align: center;
}
.add-alarm {
  padding: 6px;
  border: 1px solid pink;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}
button {
  padding: 6px;
  border: 1px solid pink;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}
.time {
  padding-bottom: 10px;
}